@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

main{
    background-color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: auto;

}

label{
    display: block;
    padding: 1rem;
}

input{
    display: block;
    height: 2rem;
    width: 40%;
    padding-top: 0.5rem;
    margin-top: 3rem;
    margin: auto;
    border: 0.5px solid ;
    border-radius: 0.3rem;
}

button{
    height: 3rem;
    width: 25%;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: auto;
    font-weight: bold;

}

button:hover{
    cursor: pointer;
    font-size: large;
}

#output-box{
    font-size: large;
    padding: 1rem;
}

footer{
    margin-top: 3rem;
    font-size: larger
  }

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-icon {
    margin: 20px 10px;
    color: black;
    font-size: larger;
}